@use "../variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.hero {
  @include full-bleed;
  position: relative;

  background-image:
    linear-gradient(0deg, rgba(35, 34, 34, 0.48), rgba(78, 78, 78, 0.48)), 
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  isolation: isolate;

  &__inner {
    @include container();
    padding-block: $space-12;
    text-align: center; 

    @include mq($bp-md) { padding-block: $space-16; } 
    @include mq($bp-lg) { padding-block: $space-20; }
  }

  &__title {
    color: $color-surface;
  }

  &__subtitle {
    font-size: $font-size-subtitle;
    color: $color-surface;

  }

  &__cta {
    @include button-primary($color-accent, #fff);
    box-shadow: 0 8px 24px rgba(230,0,44,0.18);

    &:hover { box-shadow: 0 10px 30px rgba(230,0,44,0.26); }
  }
}