@use "../variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.hero {
  position: relative;
  isolation: isolate;

  background-image:
    linear-gradient(0deg, rgba(255,255,255,0.18), rgba(255,255,255,0.66)), 
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__inner {
    @include container();
    padding-top: $space-16;
    padding-bottom: $space-16;

     @include mq($bp-md) {
      padding-top: calc($space-16 + 24px);
      padding-bottom: calc($space-16 + 24px);
  }
  }

  &__title {
    color: $color-fg;
  }

  &__subtitle {
    color: $color-surface;
  }

  &__cta {
    @include button-primary($color-accent, #fff);
    box-shadow: 0 8px 24px rgba(230,0,44,0.18);

    &:hover { box-shadow: 0 10px 30px rgba(230,0,44,0.26); }
  }
}