{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-scss",
    "@stylistic/stylelint-plugin"
  ],
  "rules": {
    "@stylistic/string-quotes": "double",
    "@stylistic/color-hex-case": "lower",
    "@stylistic/number-leading-zero": "always",

    "max-nesting-depth": 3,
    "declaration-no-important": null,
    "no-descending-specificity": null,
    "selector-class-pattern": "^([a-z0-9]+(?:-[a-z0-9]+)*)?(?:__([a-z0-9]+(?:-[a-z0-9]+)*))?(?:--([a-z0-9]+(?:-[a-z0-9]+)*)){0,2}$",
    "no-empty-source": null
  }
}
